<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Vinizom | Login</title>
    <link rel="stylesheet" type="text/css" href="/css/stylelogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div th:if="${param.error}" class="msg">
      <div class="alert danger-alert">
        <h3>Usuário/Senha inválidos!</h3><a class="close">&times;</a>
      </div>
    </div>

    <div th:if="${!#strings.isEmpty(erroemail)}" class="msg">
      <div class="alertEmail warning-alert">
        <h3 th:text="${erroemail}"></h3><a class="close">&times;</a>
      </div>
    </div>

    <div class="container">
      <div class="main">
        <div class="logo"></div>
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
          <form th:action="@{/create}" method="post" th:object="${usuario}">
            <label for="chk" aria-hidden="true">Criar conta</label>
            <input type="text" name="txt" th:field="*{nome}" placeholder="Nome" required="">
            <input type="email" name="email" th:field="*{email}" placeholder="Email" required="">
            <input type="password" name="pswd" th:field="*{password}" placeholder="Senha" required="">
            <button type="submit">Criar conta</button>
          </form>
        </div>

        <div class="login">
          <form th:action="@{/login}" method="post">
            <label for="chk" aria-hidden="true">Entrar</label>
            <input type="email" name="username" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Senha" required="">
            <button type="submit">Entrar</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      $(".close").click(function() {
        $(this)
                .parent(".alert")
                .fadeOut();
      });
      setTimeout(() => {
        $(".msg").children().remove()
      },3500)
    </script>
  </body>
</html>
