<div th:insert="fragments/header :: modelheader"></div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descricao</th>
            <th scope="col">preco</th>
            <th scope="col" class="text-center">Quantidade</th>
            <th scope="col">subtotal</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="i,c : ${session.venda.itens}">
                <th scope="row" th:text="${c.count}"></th>
                <td th:text="${i.produto.descricao}"></td>
                <td th:text="${i.produto.valor}"></td>
                <td class="text-center">
                    <a th:href="@{/vendas/removeqtd/{id}(id=${i.produto.id})}" style="text-decoration: none;font-size: 1.5em;" class="rounded-circle mx-0 lh-0" data-field="quantity">-</a>
                    <input type="number" step="1" max="10" th:value="${i.qtd}" min="1" disabled name="quantity" class="quantity-field border-0 text-center w-20">
                    <a th:href="@{/vendas/addqtd/{id}(id=${i.produto.id})}" style="text-decoration: none;font-size: 1.5em;" class="rounded-circle lh-0" data-field="quantity">+</a>
                </td>
                <td th:text="${i.total()}"></td>
                <td><a onclick="return window.confirm('Tem certeza que deseja excluir este item?')"  th:href="@{/vendas/remove/{id}(id=${i.produto.id})}">Excluir</a></td>
          </tr>
        </tbody>
    </table>

    <div th:if="${!session.venda.itens.isEmpty()}" class="container text-center">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 ms-auto">
              <h3>Total da compra: R$ <span th:text="${session.venda.total()}"></span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 ms-auto">
            <a href="/" class="btn btn-outline-primary ">Continuar comprando</a>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary ">Incluir Cliente</button>
          </div>

        </div>
        <div class="row">
           <div class="col-md-4"></div>
          <div class="col-md-4 ms-auto" th:unless="${session.venda.cliente==null}">
              <h4>Cliente: <span th:text="${session.venda.cliente.nome}"> </span></h4>
              <a th:href="@{/vendas/finalizarcompra}" class="btn btn-success">Finalizar compra</a>
          </div>
        </div>
    </div>

    <div th:unless="${!session.venda.itens.isEmpty()}">
        <h4>Carrinho vazio</h4>
        <a href="/" class="btn btn-outline-primary ">Comprar produtos</a>
    </div>

        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Selecionar cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/vendas/addcliente" th:object="${pessoaFisica}" method="post">
                    <select th:name="id" class="form-select" aria-label="Default select example">
                    <option selected th:value="(${session.venda.cliente==null} ? '' : ${session.venda.cliente.id})" th:text="(${session.venda.cliente==null} ? 'Selecionar' : ${session.venda.cliente.nome})"></option>
                    <option th:each="cliente: ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                    </select>
                 

              
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <input type="submit" class="btn btn-primary" value="Confirmar cliente">
                  </div>
                </form>
            </div>
          </div>
        </div>
        </div>
<div th:insert="fragments/footer :: modelfooter" ></div>
