<div class="container" th:fragment="modelnavbar" xmlns:sec="http://www.w3.org/1999/xhtml">
     <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
         <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
             Palmas-comerce
         </a>

         <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
             <li><a href="/" class="nav-link px-2 link-secondary">Produtos</a></li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastro</a>
                 <ul class="dropdown-menu">
                     <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="/cliente/list">Cliente</a></li>
                     <li><a class="dropdown-item" href="/produtos/form">Produto</a></li>
                 </ul>
             </li>
             <li><a href="/vendas/vendasrealiazadas" class="nav-link px-2 link-dark">Vendas</a></li>
         </ul>

         <div class="col-md-3 text-end">
             <a href="/cart/" class="btn btn-outline-primary me-2">Carrinho<span th:text="(${session.venda==null} ? '' : '('+${session.venda.itens.size()}+')')"></span></a>
         </div>
     </header>
 </div>

